@use 'sass:math';

.drawer {
  --popover-body-background: var(--color-dark-06);
  --popover-body-box-shadow: var(--box-shadow-z4);
  --popover-body-color: var(--color-ink-inverse-base);

  background-color: var(--popover-body-background);
  backdrop-filter: var(--backdrop-filter-blur-lg);
  border-radius: var(--border-radius-base) 0 0 var(--border-radius-base);
  box-shadow: var(--popover-body-box-shadow);
  color: var(--popover-body-color);
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: left;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transition: translate var(--duration-sm) var(--easing-base);
  translate: 100% 0;
  width: calc(100% - var(--size-7));
  z-index: var(--zindex-offcanvas);

  &.is-open {
    translate: 0;
  }

  @media only screen and (min-width: 768px) and (min-height: 341px) {
    --popover-body-background: transparent;

    backdrop-filter: none;
    border-radius: 0;
    box-shadow: none;
    flex-direction: row;
    gap: var(--size-2);
    margin: 0;
    padding: 0;
    overflow: visible;
    position: static;
    translate: 0;
    width: auto;
    max-height: none;
  }
}

// CHILDREN
.drawer__body {
  display: flex;
  gap: var(--size-2);

  @media only screen and (max-width: 767px) {
    flex-direction: column;
    flex: 1;
    gap: 0;
    overflow-y: auto;
    padding-block: var(--size-2);
    padding-inline-start: calc(var(--padding-x-box) - var(--size-half));
    padding-inline-end: calc(var(--padding-x-box) / 3);

    .tablet\:popover {
      width: 100%;

      // Timespan filter
      &.is-range {
        order: -1;
      }

      &.is-range .popover__content {
        padding-inline-start: var(--size-1);
        padding-inline-end: 0;
        overflow: visible;
      }

      &.is-politicians .popover__title {
        margin-top: math.div(39, 16) * 1rem;
      }
    }

    // Triggers
    .popover__summary {
      display: none;
    }

    // Body
    .popover__body {
      max-width: calc(100% - var(--size-2));
      max-height: none;
    }

    .popover__content {
      padding-inline-start: var(--size-1);
      padding-inline-end: var(--size-half);
    }

    [id='filter-search'] {
      margin-inline-start: var(--size-1);
      max-width: calc(100% - var(--size-1));
    }

    // Footers
    .popover__footer {
      display: none;
    }
  }
}

:where(.drawer .person) > figure {
  max-width: calc(100% - (36 / 16) * 1rem);
}

.drawer .popover__title {
  color: var(--color-ink-inverse-base);
  font-weight: 500;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  text-transform: uppercase;
  padding-bottom: math.div(9, 16) * 1rem;
  padding-inline: var(--size-1);

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.drawer__footer {
  border-top: 1px solid var(--color-ink-inverse-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--size-1);
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 72px;
  z-index: 1;

  > .btn:first-of-type {
    color: var(--color-brand-300);
  }

  @media only screen and (min-width: 768px) {
    display: none;
  }
}
