@use 'sass:math';

:where(.form.is-settings) {
  --color-icon: var(--color-ink-inverse-2ry);

  label {
    color: var(--color-ink-inverse-base);
    display: flex;
    gap: var(--size-1);
  }


}

:where(.form.is-settings) .form__field {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: var(--size-1p5);
  padding-bottom: 0;
  padding-inline: var(--size-1) var(--size-1);

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--color-ink-inverse-border);
  }

  > * {
    // grow, shrink, basis
    flex: 1 0 auto;
    width: auto;
  }

  @media only screen and (min-width: 768px) and (min-height: 341px) {
    align-items: center;
    flex-direction: row;
    gap: var(--size-2);
    justify-content: space-between;
    padding-top: 0;
    padding-inline: var(--size-2) var(--size-1);
  }
}

:where(.form.is-settings) select {
  --form-control-background-color: transparent;
  --form-control-color: var(--color-ink-inverse-2ry);
  --form-control-border-radius: var(--border-radius-xs);
  --form-control-padding-y: 0;
  --form-control-padding-x: var(--size-1p5) var(--size-4);

  appearance: none;
  background-image: var(--icon-sm-chevron-up-down);
  background-position: center right var(--size-1);
  background-repeat: no-repeat;
  background-size: 1rem auto;
  border: 0;
  border-radius: var(--border-radius-sm);
  margin-inline-start: var(--size-2p5);
  height: var(--size-6);

  &:focus-visible {
    outline: #{math.div(2, 16)}rem solid -webkit-focus-ring-color;
    outline-offset: math.div(6, 16) * -1rem;
  }

  @media only screen and (min-width: 768px) and (min-height: 341px) {
    text-align: right;
    margin-inline-start: 0;
  }
}
