@mixin slider-thumb {
  appearance: none;
  background:
    var(--inner-groove),
    linear-gradient(var(--color-neutral-400), var(--color-neutral-950));
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: var(--size-1), auto;
  border: 0;
  border-radius: 50%;
  box-shadow: var(--box-shadow-z2);
  cursor: pointer;
  outline: none;
  pointer-events: all;
  position: relative;
  width: var(--size-2p5);
  height: var(--size-2p5);
  z-index: 2;
}

.slider {
  position: relative;
  width: 100%;
  min-height: var(--size-7);

  &::after,
  &::before {
    border-radius: var(--border-radius-pill);
    content: '';
    position: absolute;
    top: var(--size-2);
    right: var(--size-2);
    left: var(--size-2);
    height: var(--size-half);
    z-index: -1;
  }

  &::before {
    background: var(--color-neutral-500);
  }

  &::after {
    background: var(--color-brand-500);
    left: var(--start-position);
    right: calc(100% - var(--end-position));
  }
}

.slider__base {
  --inner-groove: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%228%22%20height%3D%228%22%20viewBox%3D%220%200%208%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%224%22%20cy%3D%224%22%20r%3D%224%22%20fill%3D%22url(%23paint0_linear_12177_72)%22%2F%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22paint0_linear_12177_72%22%20x1%3D%224%22%20y1%3D%220%22%20x2%3D%224%22%20y2%3D%228%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20stop-color%3D%22%231A1A1A%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23808080%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');

  appearance: none;
  background: transparent;
  outline: none;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: var(--size-half);

  &::-webkit-slider-thumb {
    @include slider-thumb;
  }

  &::-moz-range-thumb {
    @include slider-thumb;
  }
}
